@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

header {
    display: flex;
}

header img {
    width: 268px;
    margin: 25px auto;
}

body {
    width: 1240px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.search>div {
    width: 100%;
    position: relative;
    display: flex;
}

.chevron i,
.search>div:first-child i {
    position: absolute;
    top: 18px;
    right: 15px;
    font-size: 32px;
}

#search-bar {
    width: 100%;
    height: 69px;
    background-color: #e7e7e7;
    border-radius: 5px;
    border: 0px;
    outline: 0px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    padding: 0px 24px;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 82px;
    margin-bottom: 100px;
}

.card {
    text-decoration: none;
    max-height: 364px;
}


.card .photo {
    height: 178px;
    width: 100%;
    background-color: #c7bebe;
    border-radius: 5px 5px 0px 0px;
}

.card .recette {
    min-height: 186px;
    width: 100%;
    background-color: #e7e7e7;
    border-radius: 0px 0px 5px 5px;
}

.recette {
    color: black;
}

.card h2 {
    margin: 20px;
    font-weight: 400;
    font-size: 18px;
}

.recette span {
    font-weight: 700;
    margin-right: 20px;
}

.recette i {
    font-size: 20px;
    margin-right: 7px;
}

.recette>div:first-child {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.recette .details {
    display: flex;
    height: 100%;
}

.recette .ingredients {
    width: 50%;
}

.desc {
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 12px;
    width: 50%;
    margin: 0px 10px 15px 0px;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
}

.ingredients {
    font-size: 12px;
    padding-left: 18px;
    width: 50%;
    height: 100%;
    text-overflow: clip;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
}


.ingredients>p {
    margin: 0;
    font-weight: 700;
    line-height: 14px;
}

.ingredients>p>span {
    font-weight: 400;
    padding-left: 3px;
}

/*-------------------------------------------------------*/
/*                      COMBOS                           */
/*-------------------------------------------------------*/

#combos {
    margin-top: 20px;
}

.combo input::placeholder {
    color: white;
}

.combo {
    position: relative;
    margin-right: 20px;
}

.combo.opened {
    border-radius: 5px 5px 0px 0px;
}

.combo.closed {
    border-radius: 5px;
}

.combo input {
    height: 69px;
    min-width: 170px;
    padding-left: 15px;
    padding-right: 60px;
    color: white;
    border: 0;
    outline: 0;
    font-size: 18px;
    font-weight: 700;
    font-family: Lato, sans-serif;
    background-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
}

.combo .chevron {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.combo .chevron i {
    margin-top: 9px;
    margin-right: 7px;
    font-size: 18.5px;
    color: white;
}

.ing {
    background-color: #3282f7;
}

.combo-menu::-webkit-scrollbar {
    width: 15px;
}


.combo-menu::-webkit-scrollbar-track {
    background: transparent;
}

.combo-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
}

.ing .combo-menu::-webkit-scrollbar-thumb {
    background-color: #38a2e9;
}


.app {
    background-color: #68d9a4;
}

.ust {
    background-color: #ed6454;
}


.ust .combo-menu::-webkit-scrollbar-thumb {
    background-color: #f08a7e;
}

.combo-menu {
    position: absolute;
    top: 69px;
    left: 0px;
    min-width: 170px;
    background-color: inherit;
    border-radius: 0px 0px 5px 5px;
    color: white;
    padding: 0px 0px 20px 0px;
    box-sizing: border-box;
    max-height: 350px;
    overflow-y: auto;
}

.combo.closed .combo-menu {
    display: none;
}

.combo.opened .combo-menu {
    display: flex;
    flex-wrap: wrap;
}

.combo-menu a {
    width: 150px;    
    padding: 0px 20px;
    cursor: pointer;
}

.combo-menu a:hover {
    color: #eee;
    text-decoration:underline;
}

#tags {
    margin-top: 25px;
    margin-bottom: 15px;   
    flex-wrap: wrap;
    gap: 10px;
}

#tags div {
    display: flex;
    align-items: center;   
 
    color: white;
    border-radius: 5px;
    padding: 10px 10px 10px 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;    
}

.tag-ing {
    background-color: #3282f7;
}

.tag-app {
    background-color:  #68d9a4;
}

.tag-ust {
    background-color: #ed6454;
}

#tags i {
    margin-left: 15px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    width: 40px;
    text-align: center;
}